@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header {      
    background-color: #343a40; /* Fallback color in case the image doesn't load */
    /* background-image: url('https://static.wixstatic.com/media/6fed05_d3047475a15547b1b24b3ca05f5b7721~mv2.png/v1/fill/w_600,h_316,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6fed05_d3047475a15547b1b24b3ca05f5b7721~mv2.png');  */
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    height: 0px;  
    padding: 20px; 
    display: flex;
    align-items: top;
    justify-content: top;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgb(106, 187, 237), rgb(255, 123, 123));
    background-size: 150% 150%; /* Adjust size for smooth movement */
    animation: radialGradientAnimation 10s ease infinite;
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    padding: 20px;
   
}

@keyframes radialGradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


/* THIS IS LINEAR GRADIENT */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgb(106, 187, 237), rgb(255, 255, 255));
    background-size: 200% 200%; 
    animation: gradientAnimation 10s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    padding: 20px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */



@keyframes slideIn {
    0% {
        transform: translateY(20px); /* Start 20px below */
        opacity: 0; /* Fully transparent */
    }
    100% {
        transform: translateY(0); /* End in original position */
        opacity: 1; /* Fully visible */
    }
}

.container {
    max-width: 800px; /* Increased max-width for a larger layout */
    padding: 40px; /* Increased padding for more spacing */
}
h1 {
    font-size: 32px; /* Increased font size for the header */
    font-weight: 700;
    color: rgb(37, 58, 71);
    text-align: center;
    animation: slideIn 2s ease forwards; /* Add animation */
}
h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(37, 58, 71);
    text-align: center;
    animation: slideIn 2s ease forwards; /* Add animation */
}
h3{
    font-size: 14px;
    font-weight: 600;
    color: rgb(37, 58, 71);
    text-align: center;
    animation: slideIn 2s ease forwards; /* Add animation */

}

.form-group label {
    font-size: 18px; /* Increased font size for labels */
    font-weight: 500;
    color: rgb(37, 58, 71);
    animation: slideIn 2s ease forwards; /* Add animation */
}
.btn-primary {
    font-size: 18px; /* Increased font size for the button */

    padding: 12px 24px; /* Larger button size */
    background-color: rgb(37, 58, 71); /* cfh main - rgb(106, 187, 237); */
     /* cfh writing - rgb(37, 58, 71) */
    border: none;
    transition: background-color 0.3s ease;
    animation: slideIn 2s ease forwards; /* Add animation */
}


.btn-primary:hover {
    background-color: rgb(50, 78, 95);
}
#result {
    margin-top: 30px;
    text-align: center;
}
#result img {
    height: 100%;    /* Maintain aspect ratio */
    width: 100%;
    border-radius: 3px;
}

/* here */
.clear {
    clear: both;
  }
/*   
  .wrapper {
    width: 620px;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 3px #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  } */
  
.top {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%); /* Moves the element left by 50% of its own width to center it */
    
    width: 300px;
    height: 100px;
    background-image: url('/sources/CFH_transparent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: top 0.7s ease;
}
  
.footer {
    min-height: 200px;
    padding: 20px;
    background: #e4e4e4;
    border-radius: 0 0 10px 10px;
  }
  
.pageTitle {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
  }
  
.navigation {
    position: fixed;
    top: 96px; /* Aligns the top of .navigation with the top of .top */
    left: 50%; /* Places .navigation right next to the .top image */
    transform: translateX(-50%);
    right: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* DECIDE WHETHER FLEX AFTER DECISION*/ 
    transition: top 0.3s ease;
}
/* Media query to adjust .navigation position when screen size changes */

@media (min-width: 769px) {
    .top{
        transform: translateX(0%);
        left: 30px;
    }
    .navigation {
        top: 37px; /* Adjust for larger screens, if needed */
        right: 60px; /* Places .navigation right next to the .top image */
        left: auto;
        transform: none;
    }
}
  
.navigation li {
    float: left;
    position: relative;
  }
  
.navigation li:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  

  
.navigation li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    color: rgb(37, 58, 71, 0.8);
  }
  
.navigation ul {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: -3px;
    padding: 0;
    overflow: hidden;
  }
  
.navigation ul li {
    float: none;
  }
  
.navigation li:hover > ul {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    border-top: 0;
  }
  
  
.navigation li li a:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }




#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(106, 187, 237);
  backdrop-filter: blur(5px); /* Applies the blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Keeps the overlay on top */
  animation: none; /* Add animation */
}

.message-image {
  max-width: 50%; /* Ensures the image scales nicely */
  height: auto;
  animation: none;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease; /* Ensure the transition applies when hiding */
  animation: none;
}


.bottom {
    position: fixed;      /* Fix the position to the viewport */
    bottom: 15px;           /* Position it at the bottom */
    left: 0;             /* Align it to the left */
    width: 100%;         /* Full width */
    color: white;        /* Text color */
    text-align: center;  /* Center the text */
    padding: 10px;      /* Add some padding */
    box-sizing: border-box; /* Include padding in the total width/height */
}



.bottom h1 {
    font-size: 13px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
}


/* restart button */
@keyframes radialGradientAnimation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.button-gradient {
    background: radial-gradient(circle, #ff6a00, #ee0979);
    background-size: 200% 200%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: radialGradientAnimation 5s ease infinite;
    transition: transform 0.2s;
}

.button-gradient:hover {
    transform: scale(1.05);
}



