<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>CFH Lab</title>
</head>
<body>
  <div class="wrapper">
  
    <a href="/" class="top"> </a>
      
    </div>
    
    <ul class="navigation">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/circularnet" title="Circularnet">Circularnet</a></li>
      <li><a href="" title="CancerCatcher">CancerCatcher</a></li>
      <li><a href="" title="More">More</a>
        <ul>
          <li><a href="https://www.clawforhumanity.ca/" title="Main">CFH</a></li>
          <li><a href="https://github.com/Claw-For-Humanity" title="Github">Github</a></li>
          <!-- <li><a href="" title="Sources">Source</a></li>
          <li><a href="" title="Privacy">Privacy</a></li> -->
        </ul>
      </li>
      <div class="clear"></div>
    </ul>

    <div class="bottom">
        <h1>© 2024 CLAWFORHUMANITY INC. Website Design by Eric Kang in 2023.</h1>
    </div>
    
    <script src="js/script.js"></script>
    
</body>
</html>
