<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>CFH Lab</title>
</head>
<body>
  <div class="wrapper">
  
    <div class="top">
      
    </div>
    
    <ul class="navigation">
      <li><a href="" title="Home">Home</a></li>
      <li><a href="" title="About us">About us</a></li>
      <li><a href="" title="Portfolio">Portfolio</a>
        <ul>
          <li><a href="" title="Websites">Websites</a></li>
          <li><a href="" title="Webshops">Webshops</a></li>
          <li><a href="" title="SEO">SEO</a></li>
          <li><a href="" title="Responsive webdesign">Responsive webdesign</a></li>
        </ul>
      </li>
      <li><a href="" title="Contact">Contact</a></li>
      <div class="clear"></div>
    </ul>


    <!-- <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">Dropdown
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div> 
        </div>
    </div> -->


    <div class="container">
        <h1>Upload an Image and View Detected Objects</h1>
        <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data" onsubmit="uploadImage(event)">
            <div class="form-group">
                <label for="file">Choose an image:</label>
                <input type="file" id="file" name="file" class="form-control-file" required>
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary btn-block">Process</button>
        </form>
        <div id="result"><link rel="stylesheet" href="css/styles.css">
        </div>
    </div>

    <script src="js/script.js"></script>


    
</body>
</html>
