<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Claw For Humanity | Revolutionize Recycling</title>
</head>
<body>
    <div class="container">
        <h1>Upload an Image and View Detected Objects</h1>
        <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data" onsubmit="uploadImage(event)">
            <div class="form-group">
                <label for="file">Choose an image:</label>
                <input type="file" id="file" name="file" class="form-control-file" required>
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary btn-block">Process</button>
        </form>
        <div id="result"><link rel="stylesheet" href="css/styles.css">
        </div>
    </div>

    <script src="js/script.js"></script>
    
</body>
</html>
